.modal {
  width: 100%;
  overflow-x: hidden;

  .title {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.content-cont {
  width: 100%;
  overflow-x: hidden;

  textarea {
    width: 90%;
    max-width: 100%;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

label:hover {
  cursor: pointer;

  input {
    cursor: pointer;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  .question-checkboxes {
    display: flex;
    flex-direction: column;
  }
}
